//是css预编译器;
//目的还是写css;
//变量;函数;逻辑;色值运算;

@import "_mixin.scss";
@import "_function.scss";
//变量;
$color:#ddf;

// body{
//     background: $color;
//     color: $color;
// }
// sass 哪里好 ?;
body{
    background: $color+10; 
    color:$color;
}
// @mixin transform{
//     //兼容：
//     -webkit-transform: rotate(60deg);
//     -ms-transform: rotate(60deg);
//     -o-transform: rotate(60deg);
//     -moz-transform: rotate(60deg);
//     transform: rotate(60deg);
// }
// .box{
//     width:100px;
//     height: 100px;
//     background: #003;
//      @include transform;
//      font-size: 100px;
// }
//混合mixin;


//@mixin传参数：

// @mixin transform($arguments){
//     //兼容：
//     -webkit-transform: $arguments;
//     -ms-transform:$arguments;
//     -o-transform:$arguments;
//     -moz-transform:$arguments;
//     transform:$arguments;
// }
// .box{
//     width:100px;
//     height: 100px;
//     background: #003;
//      @include transform(rotate(30deg));
//      font-size: 100px;
// }

// .box2{
//     width:200px;
//     height: 200px;
//     background: yellowgreen;
//      @include transform(rotate(60deg));
//      font-size: 100px;
// }




// .box{
//     width:100px;
//     height: 100px;
//     background: #003;
//      @include transform(rotate(30deg));
//      font-size: 100px;
//      @include transition(all .5s);
// }

// .box2{
//     width:200px;
//     height: 200px;
//     background: yellowgreen;
//      @include transform(rotate(60deg));
//      font-size: 100px;
//      @include transition;
// }
 

//函数：


.box{
    width: 100px;
    height: 100px;
    background: #000;
}

// $rootSize:18px;

html{
    font-size: $rootSize;
}

// @function pxToRem($px){
//     @return $px / $rootSize * 1rem;
// }
.box2{
    width: pxToRem(100px);
    height:pxToRem(100px);
    background: yellowgreen;
} 

.box{
    width: 100px;
    height: 100px;
    background: #000;
    @include transition;

    span{
        color:yellowgreen;
    }
    strong{
        color:antiquewhite;
        text-align: center;
    }
    &:hover{
        @include transform(rotate(180deg));
    }
}


// 很有趣的东西; 循环;

// sass 里面的数组; 符合变量;

$list : 10px 20px;

// sass给我们提供了非常多的方法;
// nth();
// .box{
//     span{
//         font-size: nth($list , 2);
//     }
// }


// 复杂数组;

$list : (box1 10px) (box2 15px) (box3 20px);

// .box {
//     span{
//         font-size: nth(nth($list , 1),2)
//     }
// }


// @each $class,$size in $list{
//     .#{$class}{
//         font-size: 10px;
//     }
// }




// @at-root;

// 跳出包围;

.box{
    span{
        font-size: 10px;
        @at-root strong {
            font-size : 20px;
        }
    }
}

.sidebar {
    width: 300px;
    @media screen and (max-width:400px) {
      width: 500px;
    }
  }


    // @extend 继承;
.box2{
    @extend .box;
}